/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

.jumbotron h1{
	color:#822337;
	font-style:italic;
	font-weight: bold;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Page Elements ---- */

#firstDice, #secondDice {
  height: 60px;
}

#diceButton {
  display: block;
}

.row{
	background-color:#e6ffff;
	border-radius:5px;
}

#rpsList{
	list-style:none;
}


.leadImage {
  background-image: url('https://www.publicdomainpictures.net/pictures/40000/velka/dices.jpg');
  background-position: center center;
  background-size:cover;
  background-repeat:no-repeat;
}

.bodyImage {
	background-color:#e6ffff
}


.btn {
	margin-top:10px;
}

.navbar{
	border-radius:5px;
}
